--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
click==6.7
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
Werkzeug==0.15
Flask==1.1.1
Flask_Bootstrap==3.3.7.1
WTForms==2.2.1
scipy==1.4.1
Flask_Moment==0.9.0
sentence_transformers==0.2.5
Flask_WTF==0.14.2