{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PyBert prototype {% endblock %}

{% block page_content %}
<div class="page-header">

    {% if name %}{{ name }} 
    <h1>I think it belongs to list #   {{ bucket }} </h1> <br>
    Confidence for list #1: {{ confidence1 }} <br> 
    Confidence for list #2: {{ confidence2 }}
    
    {% else %}{% endif %}
    
</div>

<div class="page-header">
    List1: {{ list1 }} <br>
    List2: {{ list2 }} <br>
</div>

{{ wtf.quick_form(form) }}

{% endblock %}
